.carousel {
    &-item img {
        width: 100%;
        height: auto;
        max-height: 430px;
        object-fit: cover;
    }
    
    &-caption {
        background: rgba(0, 0, 0, 0.5);
        border-radius: 0.5rem;
        padding: $spacing-md;
    }
}